*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.lower-content::-webkit-scrollbar {
    width: 7px; 
  }
  
.lower-content::-webkit-scrollbar-track {
    background:rgba(217, 217, 217, 0.778);
}
  
.lower-content::-webkit-scrollbar-thumb {
    background-color: rgb(14, 0, 214); 
    border-radius: 20px; 
}



/**********Header**********/

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: rgba(13, 13, 50, 1);
        height: 60px;
        
        h1{
            display: flex;
            align-items: center;
            margin-left: 5%;
            font-weight: 400;
            color: ghostwhite;
            span{
                color: rgb(0, 217, 255);        }
        }
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 6em;
            a{
                text-decoration: none;
                color: ghostwhite;
            }
            li{
                margin: 0 2.2em;
                list-style-type: none;
            }
        }
    }
    
    figure{
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(67.25deg, #00109F 0%, rgba(80, 97, 255, 0.54) 33.48%, #0085FF 100.45%, rgba(217, 217, 217, 0.019802) 100.45%);    img{
            width: 150em;
            height: 100vh;
            z-index: -1;
        }
        figcaption{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: ghostwhite;
            font-size: 500%;
            font-weight: 200;
            top: 50%;
            bottom: 50%;
            span{
                font-weight: 400;
            }
        }
    }
}


/**********Section 1**********/

.sec-1{
    padding: 10% 15% 7em 15%;
    min-height: 900px;
    .upper-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            max-width: 50%;
            min-width: 25%;
            width: 100%;
            height: 100%;
            p{
                color: rgb(0, 217, 255);
                margin-bottom: 25px;
            }
            h2{
                font-size: 3em;
                min-width: 5em;
                max-width: 10em;
                width: auto;
            }
        }
        .right{
            text-align: justify;
            max-width: 50%;
            min-width: 300px;
            height: auto;
            color: grey;
            line-height: 25px;
        }
    }
    
    .lower-content{
        display: flex;
        justify-content: space-between;
        margin: 10% 0;
        .part{
            display: block;
            margin: 0 30px;
            max-width: 20em;
            min-width: 10em;
            text-align: justify;
            span{
                font-size: 2.5em;
                color: #0019fd;
                font-weight: 600;
            }
            h4{
                padding: 1.75em 0;
            }
            p{
                line-height: 20px;
                color: grey;
            }
        }
    }
}



/**********Section 2**********/

.sec-2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: linear-gradient(67.25deg, #00109F 0%, rgba(80, 97, 255, 0.54) 33.48%, #0085FF 100.45%, rgba(217, 217, 217, 0.019802) 100.45%);
    z-index: 0;
    figure{
        z-index: -1;
        img{
            display: flex;
            width: 120em;
            height: 600px;
        }
    }
    .sec2-content{
        position: absolute;
        color: rgba(248, 248, 255, 0.908);
        padding-left: 15%;
        h2{
            font-weight: 400;
            margin: 25px 0 50px 0;
            font-size: 3em;
            min-width: 5em;
            max-width: 12em;
            width: auto;
            color:rgb(0, 217, 255);
        }
        article{
            line-height: 30px;
            min-width: 5em;
            max-width: 60em;
            width: auto;
            font-size: large;
        }
    }
}

/**********Section 3**********/

.sec-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(239, 239, 239);
    padding: 12rem;
    .upper-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 10rem 0;
        p{
            font-weight: 500;
        }
        h2{
            font-size: 70px;
            font-weight: 500;
            margin: 25px 0;
            background: linear-gradient(200deg, #00B2FF 15%, #6025DE 30.72%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        article{
            max-width: 1000px;
            min-width: auto;
            width: 100%;
            line-height: 35px;
            text-align: center;
            font-size: larger;
            color: grey;
        }
    }
    .lower-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        figure{
            display: flex;
            flex-direction: column;
            img{
                width: auto;
                height: auto;
            }
        }
        .id-mate{
            margin: 0 50px;
            padding: 15px;
            background-color: ghostwhite;
            transition: all 0.5s ease-in-out;
            figcaption{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 25px 0;
                h4{
                    font-size: 1.6em;
                }
                p{
                    color: grey;
                    font-size: 1em;
                }
            }
            .progress-bar{
                display: flex;
                justify-content: space-between;
                margin: 0 20px 15px 20px ;
                color: rgb(110, 110, 110);
            }
            .progress{
                display: flex;
                // justify-content: center;
                align-items: center;
                width: 270px;
                height: 10px;
                border-radius: 5px;
                margin: 0 20px 15px 20px;
                background-color: rgb(220,220,220);
                .css2{
                    width: 200px;
                }
                span{
                    display: flex;
                    align-items: center;
                    width: 250px;
                    height: 10px;
                    border-radius: 5px;
                    background: linear-gradient(90deg, #AE34C1 0%, #9434C1 14.58%, #5134C1 51.56%, #0DB2E6 84.37%);
                }
            }
            &:hover{
                transform: scale(1.07);
            }
        }
    }
}


/**********Section 4**********/

.sec-4{
    width: auto;
    height: 125rem;
    padding: 12em 20% 7em 20%;
    .upper-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            max-width: 50%;
            min-width: 25%;
            width: 100%;
            height: 100%;
            p{
                color: rgb(0, 217, 255);
                margin-bottom: 25px;
            }
            h2{
                font-size: 3.5em;
                min-width: 5em;
                max-width: 10em;
                width: auto;
            }
        }
        .right{
            text-align: justify;
            max-width: 50%;
            min-width: auto;
            height: auto;
            line-height: 30px;
            font-size: larger;
            color: grey;
        }
    }

    .lower-content{
        padding: 10em 0;
        a{
            text-decoration: none;
            color: grey;
            span{
                color:#0019fd
            }
        }
        
        .img {
            transform: scale(1.2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 130px;
            .case1{
                height: 534px;
                display: flex;
                overflow: hidden;
                .two{
                    display: flex;
                    flex-direction: column;
                    height: 267px;
                }
                .three{
                    display: flex;
                }
                .six{
                    height: 282px;
                }
            }
        }
    }
}


/**********Section 5**********/

.sec-5{
    padding: 5% 20%;
    background-color: rgb(250,250,250);
    .sec5-content{
        padding: 10rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .art-cont{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;
            min-width: 25%;
            width: 100%;
            height: 100%;
            margin: 0 50px;
            p{
                color: rgb(0, 217, 255);
            }
            h2{
                margin: 25px 0;
                font-size: 2.5em;
                min-width: 5em;
                max-width: 10em;
                width: auto;
            }
            article{
                max-width: 1000px;
                min-width: auto;
                width: 100%;
                line-height: 25px;
                font-size: larger;
                text-align: justify;
                color: grey;
            }
            
            button{
                width: 190px;
                height: 55px;
                margin-top: 50px;
                color: ghostwhite;
                font-size: large;
                background: linear-gradient(90deg, #0038FF 50%, #AD00FF 100%);
                border: none;
                border-radius: 27.5px;
                transition: all 0.2s ease-in-out;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}


/**********Section 6**********/

.sec-6 {
    display: flex;
    
    .left-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      max-width: 60%;
      width: 100%;
      
      figure {
            background: linear-gradient(
            67.25deg,
            #00109f 0%,
            rgba(80, 98, 255, 0.851) 33.48%,
            #0085ff 100.45%,
            rgba(217, 217, 217, 0.743) 100.45%
          );
          max-height: 623px;
          img{
            opacity: 25%;
          }
      }
      
      .content {
        z-index: 1;
        color: ghostwhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        opacity: 100%;
        i {
          font-size: smaller;
          letter-spacing: 2px;
        }
        
        h2 {
          margin: 25px 0 50px 0;
          font-size: 3em;
          font-weight: 400;
          color: #00c3ff;
        }
        
        address {
          font-size: larger;
        }
      }
    }
    
    .right-content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
}


/**********Footer**********/


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    h2{
        font-size: 2.5em;
        padding-right: 60%;
        span{
            color: #0DB2E6;
        }
    }
    .center{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons{
        i{
            margin: 0 20px 20px 20px;
            font-size: 25px;
        }
    }
}




/********************Responsive********************/

@media only screen and (max-width: 500px) {


    
/**********Header**********/

    header{
        nav{
            #myLinks{
                z-index: 1;
                display: none;
                position: absolute;
                margin: 0;
                background-color: red;
                width: 100%;
                padding: 40px 0;
                background-color: transparent;
                backdrop-filter: blur(10px) brightness(60%);
                border-radius: 0 0 10px 10px;
                border-bottom: rgba(0, 0, 0, 0.500) solid 1px;
                box-shadow: rgba(0, 0, 0, 0.500) 0px 3px 30px 3px;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 150%;
                    text-decoration:underline;
                    line-height: 50px;
                    color: rgba(248, 248, 255, 0.503);
                }
            }
            .icon{
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding-right: 5%;
                color: ghostwhite;
                font-size: 2em;
                text-decoration: none;
            }
        }
        figure{
            figcaption{
                font-size: 250%;
            }
        }
    }


/**********Section 1**********/

    .sec-1{
        .upper-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    color: rgb(0, 217, 255);
                    margin-bottom: 25px;
                }
                h2{
                    font-size: 2.5em;
                    min-width: 8em;
                    max-width: 15em;
                    width: 100%;
                }
            }
            .right{
                padding-top: 20px;
            }
        }
        .lower-content{
            overflow-x: scroll;
        }
        .lower-content::-webkit-scrollbar {
            height: 5px; 
          }
          
        .lower-content::-webkit-scrollbar-track {
            background:rgba(217, 217, 217, 0.778);
        }
          
        .lower-content::-webkit-scrollbar-thumb {
            background-color: rgb(14, 0, 214); 
            border-radius: 20px; 
        }
    }


/**********Section 2**********/

    .sec-2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .sec2-content{
            padding: 0 10%;
            h2{
                margin: 10px 0;
            }
        }
    }


/**********Section 3**********/

    .sec-3{
        text-align: center;
        padding: 0 0 50px 0;
        .upper-content{
            padding: 50px;
        }
        .lower-content{
            display: flex;
            justify-content: start;
            overflow-x: scroll;
            .id-mate{
                margin: 9%;
            }
        }
        .lower-content::-webkit-scrollbar {
            height: 5px; 
          }
          
        .lower-content::-webkit-scrollbar-track {
            background:rgba(217, 217, 217, 0.778);
        }
          
        .lower-content::-webkit-scrollbar-thumb {
            background-color: rgb(14, 0, 214); 
            border-radius: 20px; 
        }
    }


/**********Section 4**********/

    .sec-4{
        padding: 5%;
        height: 100%;

        .upper-content{
            flex-direction: column;
            text-align: center;
            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 100px 0 50px 0 ;
            }
            .right{
                max-width: 80%;
            }
        }
        .lower-content{
            padding: 100px 0 0 0;
            .img{
                overflow-x: scroll;
                transform: scale(1);
                width: 100%;
                padding: 25px 0;
                .case1{
                    display: flex;
                    width: 100%;
                    justify-content: start;
                    align-items: start;
                }
            }
        }
    }


/**********Section 5**********/

    .sec-5{
        padding: 0;
        height: 100%;
        .sec5-content{
            padding: 5rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
            .art-cont{
                margin: 0 25px;
                text-align: center;
                max-width: 80%;
                button{
                    width: 100%;
                }
            }
        }
        .sec5-content:last-child{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }


/**********Section 6**********/

    .sec-6{
        display: block;
        .left-content{
            width: 100%;
            max-width: 100%;
            text-align: center;
            figure{
                max-height: 450px;
            }
        }
        .right-content{
            height: 250px;
        }
    }


/**********Footer**********/

    h2{
        display: none;
    }
}    



